

/* AUB Mijn gekrulde haakjes toets is kapot dus iemand anders moet dat aanvullen, danku. */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
     
        padding: 0;
        background-color: #fffefe;

}

/* Header */

header {
    background-color: rgb(166, 166, 166) ;
    
    display: flex;
    justify-content: stretch;
    font-size: 20px;
}

nav {
    padding: 0px;
    /* background-color: rgb(214, 188, 159); */
    display: flex;
    justify-content: center;
    width: 100%;
}

header a, header i {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    align-self: center;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;

    align-content: center;
    display: flex;
    flex-direction: row;
}
nav > i:hover, nav > a:hover, nav > a.selected, nav > i.selected {
    background-color: rgb(255, 251, 251);
}
nav > a:last-child> img {
    size: 10px;
    background-color: #e30046;
    

}

header img {
    height: 50px;
    margin: 5px 10px;
}

main {
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  h2 {
    color: black;
  }
  h3 {
    color: #666
  }
  p {
    line-height: 1.6;
    color: #666;
  }


/*footer Mohamed Bya*/

.social {
    display: flex;
   flex-direction: column;
   padding: 1rem;
    bottom: 3rem ;
}
footer .soce {
    display: flex;
    align-items: center;
    margin: auto;
    gap: .5rem;
    justify-content: space-between;
}
.social a {
   display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 31px;
   height: 30.5px;
   color:#071a3e;
    border:0.15rem solid darkblue;
    border-radius: 50%;
    font-size: 25px;    
    transition: .5s;
}
#fb:hover {
    color:#0165E1;
}
#insta:hover {
    color:#E4405F;
}
#twit:hover{
    color: #1DA1F2;
}
#inter:hover{
    color: #e30046;
}
.social p{
    margin: 2px auto;
}



/* bodyie */

section {
    background-color: white;
    display: flex;
    margin: 10px;
    border-radius: 5px;
    flex-direction: column;
    padding: 10px;
    /* width: 10px; */
    width: 100%;
    border: 10px inset color;
}

main > article  {
    background-color: rgba(212, 212, 212, 0.041);
    display: flex;
    justify-content: stretch;
}